body {
	font-family: sans-serif;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

.error {
	color: red;
}

label {
	display: block;
	font-size: 20px;
}

input[type=text] {
	width: 600px;
	font-size: 20px;
	padding: 2px;
}
textarea {
	width: 600px;
	height: 200px;
	font-size: 17px;
	font-family: monospace;
}

input[type=submit] {
	font-size: 24px;
}

hr {
	margin: 20px auto;
}

.title {
	text-decoration: none;
	color: black;
}

.user-info {
	text-align: right;
	font-size: 10px;
}

.user-info a {
	text-decoration: none;
}

.blog + .blog {
	margin-top: 20px;
}

.blog-title {
	font-weight: bold;
	font-size: 20px;
}

.blog-body {
	margin: 0;
	word-wrap: break-word;
	font-size: 17px;
	padding-bottom: 20px;
}