<!DOCTYPE html>

<html>
<head>
    <title>/blog/ - login</title>
    
</head>

<body>
    <form method="post">
        <h1>Login</h1>
        <label> Username
            <input type="text" name="username" value="{{username}}">
        </label>
        <br />
        <label> Password
            <input type="password" name="password" value="{{password}}">
        </label>
        <div style="color: red">{{invalid}}</div>

        <input type="submit">
    </form>


</body>
</html>