<!DOCTYPE html>

<html>
<head>
	<title>/blog/ - new post</title>
	<link href="/stylesheets/blog.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<h1>/blog/</h1>

	<form method="post">
		<label>
			<div>content</div>
			<textarea name="content">{{content}}</textarea>
		</label>

		<div class="error">{{error}}</div>

		<input type="submit">
	</form>

</body>

</html>