<!DOCTYPE html>

<html>
<head>
    <title>/blog/ - new user</title>
    
</head>

<body>
    <form method="post">
        <h1>Signup</h1>
        <label> Username
            <input type="text" name="username" value="{{username}}">
            <div style="color: red">{{error_un}}</div>
        </label>

        <label> Password
            <input type="password" name="password" value="{{password}}">
            <div style="color: red">{{error_ps}}</div>
        </label>

        <label> Verify Password
            <input type="password" name="verify" value="{{verify}}">
            <div style="color: red">{{error_ve}}</div>
        </label>

        <label> Email (optional)
            <input type="text" name="email" value="{{email}}">
            <div style="color: red">{{error_em}}</div>
        </label>

        <input type="submit">
    </form>

Already have a username? <a href="/login">Login</a>

</body>
</html>