<!DOCTYPE html>

<html>
<head>
	<title>/wiki/ - entry</title>
	<link href="/stylesheets/blog.css" rel="stylesheet" type="text/css" />
</head>

<body>
	<div class="user-info">
		{% if user %}
			<a href="/_edit/{{article_id}}">edit</a> | 
		{% endif %}
		<a href="#">history</a>
		{% if user %}
			<a href="/logout">logout</a>
		{% else %}
			<a href="/login">login</a>
		{% endif %}
	</div>
	<a class="title" href="/"><h1>/wiki/</h1></a>
	<hr>

	{% if article %}
		{{article.content}}
	{% else %}
		<div class="error"> {{error}} </div>
	{% endif %}

	<div class="cached">
		Queried {{cached}} seconds ago...
	</div>
</body>

</html>